<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><!-- AShopname --></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Author" content="" />
<meta name="Keywords" content="<!-- AShopmetakeywords -->" />
<meta name="Description" content="<!-- AShopmetadescription -->" />
<link rel="stylesheet" href="../<!-- AShopcss -->" type="text/css" />
<link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
<div class="wrapper">
  <div id="header">
    <table width="990" border="0" cellspacing="0" cellpadding="5" align="center">
      <tr>
        <td width="30%" style="padding-left: 20px;"><img src="../images/logo.gif" alt="<!-- AShopname -->" /></td>
        <td width="70%" align="right" valign="bottom" class="bannerhead">&nbsp;</td>
      </tr>
    </table>
  </div>
  <div class="menucontainer">
  <div class="menubar">
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <ul>
      <li><a href="signupform.php">Sign Up</a></li>
    </ul>
    <ul>
	  <li><a href="login.php">Login</a></li>
    </ul>
 </div>
 </div>
 <div align="center" style="clear: both;">
 <div style="width: 990px; background-color: #FFF;">
  	<table width="50%" border="0" align="center"><tr><td align="left">
	<!-- AShopstart -->
	<!-- AShopend -->
	</td></tr></table>
</div>
</div>
<div class="push"></div>
</div>
<div class="footerwrapper">
	<div class="footer">
		<table width="990" cellpadding="5" cellspacing="0" border="0" align="center"><tr><td>
			<!-- AShopname -->
		</td></tr></table>
	</div>
</div>
</body>
</html>