<html>
<head>
<title>Thank you for joining the %ashopname% affiliate program!</title>
</head>
<body>
	<font face="Arial, Helvetica, sans-serif" size="2">
	<font size="3"><p>Thank you %firstname% %lastname% for joining the %ashopname% affiliate program!</p></font>
	<p>Your user name is: <b>%username%</b>, and your password: <b>%password%</b></p>
	<p>To manually refer customers use this referralcode: <b>%referralcode%</b></p>
	<p>Login to get your link code and check your stats at <b>%loginlink%</b></p>
	<p>You can create your own links by using the following URL <b>%affiliateurl%</b></p>
	</font>
</body>
</html>